@media only screen {
/* base of button */
  *,
  *:before,
  *:after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  body {
        /* background */
    background: -moz-linear-gradient(top, #a2ffa4, #FFF);
    background: -webkit-linear-gradient(top, #a2ffa4, #FFF);
    background: linear-gradient(top, #a2ffa4, #FFF);    

        /* button */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }

  header {
    background-color: #000;
    margin-left: -20px;
    margin-right: 25em;
  }

  header p{
    padding: 2px;
    font-family: 'Montserrat';
    color: #FFF;
    font-style: oblique ;
    font-size: 30px;
  }

  h1{
    font-family: 'Montserrat';
    font-style: oblique;
    color: #FFF;
    background-color: #000;
    margin-right: 300px;
    padding: 5px;
  }

  @keyframes tonext {
      75% {
        left: 0;
      }
      95% {
        left: 100%;
      }
      98% {
        left: 100%;
      }
      99% {
        left: 0;
      }
  }

    @keyframes snap {
      96% {
        scroll-snap-align: center;
      }
      97% {
        scroll-snap-align: none;
      }
      99% {
        scroll-snap-align: none;
      }
      100% {
        scroll-snap-align: center;
      }
    }
     
     
    * {
      box-sizing: border-box;
      scrollbar-color: transparent transparent; /* thumb and track color */
      scrollbar-width: 0px;
    }
     
    *::-webkit-scrollbar {
      width: 0;
    }
     
    *::-webkit-scrollbar-track {
      background: transparent;
    }
     
    *::-webkit-scrollbar-thumb {
      background: transparent;
      border: none;
    }
     
    * {
      -ms-overflow-style: none;
    }
     
    ol, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
     
    .carousel {
      position: relative;
      padding-top: 75%;
      filter: drop-shadow(0 0 10px #0003);
      perspective: 100px;
    }
     
    .carousel__viewport {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      overflow-x: scroll;
      counter-reset: item;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      border: none;
    }

    .carousel__slide {
      position: relative;
      flex: 0 0 100%;
      width: 100%;
      background-color: rgba(255,255,255,0.5);
      counter-increment: item;
    }
     
    .carousel__slide:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-40%,70px);
      color: #000;
      font-size: 2em;
    }
     
    .carousel__snapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scroll-snap-align: center;
    }

    .carousel__snapper img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
     
    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
      position: absolute;
      top: 0;
      margin-top: 37.5%;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      font-size: 0;
      outline: 0;
    }
     
    .carousel::before,
    .carousel__prev {
      left: -1rem;
    }
     
    .carousel::after,
    .carousel__next {
      right: -1rem;
    }
     
    .carousel::before,
    .carousel::after {
      content: '';
      z-index: 1;
      background-color: #000;
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      color: #fff;
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;
      pointer-events: none;
    }
     
    .carousel::before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    }
     
    .carousel::after {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    }


    /*slider*/
    input[type="range"] {
      -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
      appearance: none;
      cursor: pointer; /* カーソルを分かりやすく */
      outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
      height: 8px; /* バーの高さ */
      width: 80%; /* バーの幅 */
      background: #000; /* バーの背景色 */
      position: absolute; 
      left:10%;
      bottom:10%;
    }
    /* WebKit向けのつまみ */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /*  🚩デフォルトのつまみのスタイルを解除 */
      background: #000; /* 背景色 */
      width: 10px; /* 幅 */
      height: 30px; /* 高さ */
    }

    /* draganddrop box */
    .dropzone {
        background-color: rgba(255,255,255,0);
        margin: 10px;
        margin-top: 20px;
        border: #000 solid 1px;
        min-height: 200px;
        text-align: center;
    }

    .dropzone p {
      padding:10px;
      font-family: 'Montserrat';
        color: #999;
        font-size: 14px;
    }

    .dropzone:hover{
      background-color: rgba(255,255,255,0.5);
      margin: 10px;
      margin-top: 20px;
      border: #000 solid 1px;
      text-align: center;

    }

    /* dragandgrop button*/

    /* base of button */
    /* <test3 class="btn btn_a "></test3>*/

    a.btn {
        font-family: 'Montserrat';
        font-size: 1.6rem;
        font-weight: 900;
        font-style: oblique ;
        line-height: 1.5;
      position: relative;
      left: 20%;
      display: inline-block;
      padding: 1rem 4rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;

      margin-bottom: 5rem;
    }

    a.btn_a{
        margin-top: 10;
        color: #000;
        letter-spacing: 2px;
        background-color: #22ff23;
        border-bottom: 5px solid #22AA23; 
        border-radius: 0.5rem;
    }

    a.btn_a:hover{
        margin-top: 3px;
        color: #FFF;      
        letter-spacing: 2px;
        background: #22ff23;
        border-radius: 0.5rem;
        border-bottom: 2px solid #22AA23;
    }

    #change_image{
      background-color:rgba(255,255,255,0.5);
      
    }
    img{
      padding: 5em;
    }


    a.btn_b{
      margin-top:50;
      position: relative;
      top:20%;
      right:0%;
      color: #FFF;
      letter-spacing: 2px;
      background-color: #000;

  }

  a.btn_b:hover{
    margin-top: 50;
    position: relative;
    top:20%;
    right:0%;
    color: #FFF;
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: #000;
  }
}



